# Configurações da API Django
REACT_APP_API_URL=http://127.0.0.1:8000/api

# Configurações da aplicação
REACT_APP_NAME=Gestão de Vendas
REACT_APP_VERSION=1.0.0
REACT_APP_DESCRIPTION=Sistema de Gestão de Vendas Prado Motors

# Configurações de desenvolvimento
REACT_APP_DEBUG=true
REACT_APP_LOG_LEVEL=debug

# Configurações de produção (serão substituídas em produção)
REACT_APP_PRODUCTION_API_URL=https://seu-dominio.com/api

