{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if form.instance.pk %}Editar Moto{% else %}Nova Moto{% endif %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">
            <i class="fas fa-motorcycle me-2"></i>
            {% if form.instance.pk %}Editar Moto{% else %}Nova Moto{% endif %}
        </h5>
    </div>
    <div class="card-body">
        <form method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            <div class="row mb-4">
                <div class="col-md-12">
                    <h4 class="border-bottom pb-2 mb-3">Dados do Veículo</h4>
                </div>
                <div class="col-md-3">
                    {{ form.matricula|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.marca|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.modelo|as_crispy_field }}
                </div>
                <div class="col-md-4">
                    {{ form.ano|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.cor|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.placa|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.renavam|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.chassi|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.valor|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.categoria|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.status|as_crispy_field }}
                </div>
                <div class="col-md-3">
                    {{ form.data_entrada|as_crispy_field }}
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-12">
                    <h4 class="border-bottom pb-2 mb-3">Fotos da Moto</h4>
                </div>
                <div class="col-md-4">
                    {{ form.foto_principal|as_crispy_field }}
                    {% if form.instance.foto_principal %}
                        <div class="mb-2">
                            <img src="{{ form.instance.foto_principal.url }}" alt="Foto Principal" class="img-thumbnail" style="max-height: 150px;">
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {{ form.foto_frontal|as_crispy_field }}
                    {% if form.instance.foto_frontal %}
                        <div class="mb-2">
                            <img src="{{ form.instance.foto_frontal.url }}" alt="Foto Frontal" class="img-thumbnail" style="max-height: 150px;">
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {{ form.foto_traseira|as_crispy_field }}
                    {% if form.instance.foto_traseira %}
                        <div class="mb-2">
                            <img src="{{ form.instance.foto_traseira.url }}" alt="Foto Traseira" class="img-thumbnail" style="max-height: 150px;">
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {{ form.foto_lado_esquerdo|as_crispy_field }}
                    {% if form.instance.foto_lado_esquerdo %}
                        <div class="mb-2">
                            <img src="{{ form.instance.foto_lado_esquerdo.url }}" alt="Foto Lado Esquerdo" class="img-thumbnail" style="max-height: 150px;">
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {{ form.foto_lado_direito|as_crispy_field }}
                    {% if form.instance.foto_lado_direito %}
                        <div class="mb-2">
                            <img src="{{ form.instance.foto_lado_direito.url }}" alt="Foto Lado Direito" class="img-thumbnail" style="max-height: 150px;">
                        </div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-4">
                <div class="col-md-12">
                    <h4 class="border-bottom pb-2 mb-3">Observações</h4>
                </div>
                <div class="col-md-12">
                    {{ form.observacoes|as_crispy_field }}
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <a href="{% url 'core:estoque_moto_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-1"></i>Voltar
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save me-1"></i>Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %} 